.en :lang(pl) {
  display: none;
}
.pl :lang(en) {
  display: none;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-section {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Lato";
  text-align: center;
}

.main-section .logo {
  height: 25vmin;
  width: 25vmin;
  opacity: 0.7;
}

.main-section h1 {
  z-index: 1;
  opacity: 0.7;
  font-size: 6vmin;
}

hr {
  background-color:white !important 
}

.main-section h2 {
  opacity: 0.7;
  font-size: 5vmin;
}

.main-section .button-group .btn {
  opacity: 0.7;
  margin-top: 2%;
  margin-left: 4px;
}

.main-section .lang-btn {
  position: absolute;
  right: 2%;
  margin-top: 2%;
}

.main-section .description {
  opacity: 0.7;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: calc((vw) / 100);
}

@media screen and (min-width: 500px) {
  .main-section .description {
    font-size: 24px;
  }
}

.description .btn-link {
  text-decoration: none;
  color: white;
  font-size: large;
}

.description .btn-link:hover {
  color: white;
}

.description .btn-link:focus {
  text-decoration: none;
  color: white;
}

.external-link {
  text-decoration: none;
  color: white;
}

.external-link:hover {
  color: white;
}

.main-section .description .project-link-img {
  height: 30vmin;
}

@media screen and (min-width: 500px) {
  .main-section .description .project-link-img {
    height: 200px;
  }
}

.color-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.videosize {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

p.account {
  margin-bottom: -1%; 
}

.btn-language {
  opacity: 0.7;
}

#moveable-content {
  margin-top: 10%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 600px) {
  #moveable-content {
    margin-top: 50%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
}
